@font-face {
  font-family: "wotfard-regular";
  font-display: fallback;
  src: url(../fonts/wotfard/wotfard-regular-webfont.woff2) format("woff2");
}
$site-font: "wotfard-regular", sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
