@font-face {
  font-family: "wotfard-regular";
  src: url(../fonts/wotfard/wotfard-regular-webfont.woff2);
}

@font-face {
  font-family: "wotfard-semibold";
  src: url(../fonts/wotfard/wotfard-semibold-webfont.woff2);
}

@font-face {
  font-family: "wotfard-medium";
  src: url(../fonts/wotfard/wotfard-medium-webfont.woff2);
}

.recent-post-info {
  font-size: small;
  font-family: "wotfard-semibold", serif;
}

.recent-post {
  font-family: "wotfard-semibold", serif;
  font-size: medium;
}

.recent-post-img {
  width: 100%;
  height: auto;
}

.card-title {
  font-family: "wotfard-medium", serif;
  letter-spacing: 1px;
}

.post-title {
  font-family: "wotfard-semibold";
  font-size: large;
}

.post-info {
  font-family: "wotfard-semibold";
}
